h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h1.entry-title,
h1.page-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h2,
h3 {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 70px;
    background-color: black;
  }
}

.shortcode-widget-area h2 {
  font-size: 24px;
  font-weight: normal;
}
