button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  //height: 50px;
  padding-left: 28px;
  padding-right: 28px;
  border: 2px solid $color__border-button;
  border-radius: 25px;
  background: $color__background-button;
  color: rgba(0, 0, 0, .8);
  @include font-size(1.5);
  line-height: 3;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    //border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    //border-color: $color__border-button-focus;
  }
}