input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
textarea.form-control {
  padding-left: 20px;

  border: none !important;
  box-shadow: none !important;
  //border: 1px solid $color__border-input;
  //border-radius: 3px;

  background-color: #f6f6f6;

  color: $color__text-input !important;

  &:focus {
    color: $color__text-input-focus;
    outline: none !important;
  }

  &:focus::placeholder {
    color: transparent !important;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}
