header.page-header {
  border: unset;
}

/*--------------------------------------------------------------
# Unyson elements reset
--------------------------------------------------------------*/
.fw-main-row {
  img {
    width: 100%;
  }
}

body a.fw-btn {
  border-radius: 25px;
  background-color: transparent !important;
  span {
    font-size: 14px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
  }
}