/*!
Theme Name: Endy
Theme URI: https://bitbucket.org/Medvedar/endy-theme
Author: Max Medar
Author URI: https://medar.pp.ua/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: endy
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

endy is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";
/*--------------------------------------------------------------
# Debug
--------------------------------------------------------------*/
@import "debug";
/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
@import "reset";
/*--------------------------------------------------------------
# Colors for all elements
--------------------------------------------------------------*/
@import "elements_colors";

h1.site-title,
p.site-title,
#primary-menu a,
#footer-menu a {
  text-transform: uppercase;
}

h1.site-title,
p.site-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
}

#primary-menu {
  float: right;
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
}

#footer-menu {
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 50px;
}

#primary-menu,
#footer-menu {
  & > li {
    margin-left: 15px;
    margin-right: 15px;
  }
}

#masthead {
  padding-top: 25px;
  padding-bottom: 50px;
}

#colophon {
  padding-bottom: 30px;
}

.site-title {
  margin-bottom: 0;
}

.error-404 {
  padding-top: 80px;
  padding-bottom: 80px;
  .s404 {
    text-align: center;
    & > span {
      font-size: 100px;
      font-weight: bold;
    }
    & > h2 {
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      color: gray;
    }
  }
}

#portfolio-items,
#filters {
  margin-left: -15px;
  margin-right: -15px;
}

.item {
  z-index: 10;
  &.col_2 {
    width: 50%;
  }
  &.col_3 {
    width: calc(100% / 3);

  }
  &.add-margin {
    $margin: 15px;
    margin: $margin;
    &.col_2 {
      width: calc(50% - 2 * #{$margin});
    }
    &.col_3 {
      width: calc(100% / 3 - 2 * #{$margin});

    }
  }
}

.portfolio-item {
  img {
    width: 100%;
  }
}

#filters {
  button {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: none;
    border-radius: 0;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 2em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: gray;
    }
  }
}

.blog-preview {
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
}

.entry-meta {
  font-size: 14px;
}

a.wrap-blog-thumb {
  display: block;
  margin-bottom: 25px;
  max-height: 180px;
  overflow: hidden;
}

.masonry-grid-item {
  margin-bottom: 50px;
}

.pagination {
  .nav-links {
    .page-numbers {
      display: inline-block;
      margin: auto 5px;
      width: 40px;
      height: 40px;
      font-size: 15px;
      line-height: 40px;
      text-align: center;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.current {
        background-color: #f6f6f6;
      }
      &.prev,
      &.next {
        visibility: hidden;
        width: 1px;
        height: 1px;
        margin: 0;
        padding: 0;
      }
      &.prev + .page-numbers {
        //margin-left: -3px;
      }
      &:hover,
      &:focus,
      &:active {
        //border: solid 2px black;
      }
    }
  }
}

.entry-header {
  padding-bottom: 25px;
  figure {
    max-height: 400px;
    overflow: hidden;
    .wp-post-image.attachment-full {
      width: 100%;
    }
  }
}

/*
Tags
 */
p.tags-list,
.tagcloud {
  a {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 8px;
    margin-bottom: 10px;
    height: 29px;
    line-height: 25px;
    vertical-align: baseline;
    border: 1px solid #bcbcbc;
    border-radius: 14px;
    font-size: 14px;
    color: #1f2430;
    &:last-child {
      margin-right: 0;
    }
  }
}

.blog-recent-post {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding-bottom: 25px;
    h3 {
      margin-top: 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }
    p {
      font-size: 13px;
      color: #262626;
    }
    .entry-date {
      font-size: 13px;
      font-weight: 400;
    }
  }
}

.shortcode-widget-area {
  margin-left: 75px;
}

.endy-social-widget {
  @include clearfix();

  margin-bottom: 40px;
}

