//$color__background-body: #f6f6f6 !default;
//$img__background-img: '' !default;

$color__background-content: linear-gradient(0deg, #fff000 0%, #ff5a00 100%);
//$color__background-content: red;

//$color__text-main: black !default;
//$color__interest: black !default;


