$color__background-body: #00001e;
$color__background-content: transparent;

$img__background-img: '../../../images/rose_bg_img.png';


//$color__text-main: black !default;
//$color__interest: black !default;


