a {
  //color: $color__link;
  color: inherit;

  &:visited {
    //color: $color__link-visited;
    color: inherit;
  }
  &:hover,
  &:focus,
  &:active {
    //color: $color__link-hover;
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    //outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}