/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

.pagination {
  .nav-links {
    .page-numbers {
      display: inline-block;
      margin: auto 5px;
      width: 40px;
      height: 40px;
      font-size: 15px;
      line-height: 40px;
      text-align: center;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.current {
        background-color: #f6f6f6;
      }
      &.prev,
      &.next {
        visibility: hidden;
        width: 1px;
        height: 1px;
        margin: 0;
        padding: 0;
      }
      &.prev + .page-numbers {
        //margin-left: -3px;
      }
      &:hover,
      &:focus,
      &:active {
        //border: solid 2px black;
      }
    }
  }
}
