@import "vars";

body {
  @if $img__background-img == '' {
    background-image: none;
  } @else {
    background-image: url($img__background-img);
  }
  background-color: $color__background-body;
  background-repeat: no-repeat;
  background-size: contain;

  color: $color__text-main;
}

#masthead,
#content,
#colophon {
  //background: transparent;
}

#page .container {
  background: $color__background-content;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#masthead .site-title a,
#primary-menu a,
#footer-menu a,
#filters .btn-default,
body a.fw-btn span,
.blog-recent-post li p {
  color: $color__text-main;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: $color__text-main;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
body .fw-btn-1.fw-btn-black {
  border-color: $color__text-main;
}

h2,
h3 {
  &:after {
    background-color: $color__interest;
  }
}

#colophon .site-title a,
title,
title.rps-desc {
  color: $color__interest;
}

.owl-theme .owl-dots .owl-dot span {
  border-color: $color__interest;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $color__interest;
}