//$color__background-body: #f6f6f6 !default;
//$img__background-img: '' !default;

//$color__background-content: transparent !default;

//$color__text-main: black !default;
//$color__interest: black !default;
